{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="button-new-rdv">
        <button style="margin:10px;" class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
