{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
<section class="gallerie-section">
    <div class="wrapper-gallerie">
        <div class="gallerie-photo"><img class="img-gallerie" src="images/ongles-multi.jpg" alt="ongles rose"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/cils2.png" alt="cils"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/savoir-faire.jpg" alt="savoir-faire"></div>
        <div class="gallerie-photo"><img class="img-gallerie-2" src="images/5sour.png" alt="yeux russe"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/savoir-faire2.jpg" alt="savoir-faire"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/onglerie.png" alt="ongles pourpre"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/cils3.png" alt="cils russe"></div>
        <div class="gallerie-photo"><img class="img-gallerie-3" src="images/sourcils.png" alt="sourcils"></div>
        <div class="gallerie-photo"><img class="img-gallerie-4" src="images/sourcils1.png" alt="sourcils"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/ongle-jaune.png" alt="ongles jaune"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/diplome.jpg" alt="diplome"></div>
        <div class="gallerie-photo"><img class="img-gallerie" src="images/yeux1.png" alt="yeux"></div>
    </div>
</section>
{% endblock %}
