{% extends 'base.html.twig' %}

{% block title %}Nos Prestations{% endblock %}

{% block body %}
<h1 class="titre-nos-prestations">Nos Prestations</h1>
<section class="flex-nos-prestations">
    <div class="bloc-nos-prestations">
        <img class="img-prestations" src="images/ongle-pose.png" alt="pose d'ongles"> 
    
    <div class="text-nos-prestations">
            <h5 class="titre-bloc-nos-prestations">Pose d'ongles résine mains</h5>
            <p class="paragraphe-nos-prestations">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p class="prix-nos-prestations">30€</p>
        </div>
    </div>    
    <div class="bloc-nos-prestations">
        <div class="text-nos-prestations">
            <h5 class="titre-bloc-nos-prestations">Pose d'ongles résine pieds</h5>
            <p class="paragraphe-nos-prestations">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p class="prix-nos-prestations">30€</p>
        </div>
        <img class="img-prestations" src="images/pose-pied.png" alt="pose d'ongles pieds"> 
    </div>
    <div class="bloc-nos-prestations">
        <img class="img-prestations" src="images/gommage.png" alt="gommage visage"> 
    
    <div class="text-nos-prestations">
            <h5 class="titre-bloc-nos-prestations">Gommage visage</h5>
            <p class="paragraphe-nos-prestations">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p class="prix-nos-prestations">66€</p>
        </div>
    </div>    
    <div class="bloc-nos-prestations">
        <div class="text-nos-prestations">
            <h5 class="titre-bloc-nos-prestations">Pose complète cil à cil</h5>
            <p class="paragraphe-nos-prestations">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p class="prix-nos-prestations">80€</p>
        </div>
        <img class="img-prestations" src="images/pose-cil.png" alt="pose cil"> 
    </div>
    <div class="bloc-nos-prestations">
        <img class="img-prestations" src="images/cil-volume-russe.png" alt="cils volume russe"> 
    
    <div class="text-nos-prestations">
            <h5 class="titre-bloc-nos-prestations">Pose cil volume russe</h5>
            <p class="paragraphe-nos-prestations">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <p class="prix-nos-prestations">160€</p>
        </div>
    </div>    
</section>
{% endblock %}
